APP_NAME=Laravel
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=app
DB_USERNAME=app
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

PASSPORT_PRIVATE_KEY_PATH="storage/oauth-private.key"
PASSPORT_PUBLIC_KEY_PATH="storage/oauth-public.key"

SMS_PROVIDER=mobizon
MOBIZON_API_KEY=
SMSFLY_API_KEY=

SENTRY_DSN=
